
body{
    margin: 0px;
    background-color:white;
}
.home{
    position: absolute;
    z-index: 50;
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.start{
    width: 12em;
    font-size: 1.2em;
    padding: 1em;
    background-color: black;
    color: white;
    border: 2px solid yellow;
}
.container{
    overflow-x: hidden;
}
.box{
    width:100vw;
    height:100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
canvas{
    position: relative;
    background: transparent;

}
.score{
    
    position: absolute;
    right:1em;
    z-index: 40;
    font-size: 3em;
    color:white;
}
.home{
    background-color: #111;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


.bg{
    background: url(/willian-justen-de-vasconcellos-_MMP5j_fCqw-unsplash.jpg);
    background-size: cover;
    background-position: top center;
}
path:nth-of-type(1){
    stroke-dasharray: 888.4155883789062;
    stroke-dashoffset: 888.4155883789062;
    animation: reveal 2s ease forwards;

}
path:nth-of-type(2){
    stroke-dasharray: 578.8652954101562;
    stroke-dashoffset: 578.8652954101562;
    animation: reveal 2s ease forwards;

}
path:nth-of-type(3){
    stroke-dasharray: 567.8868408203125;
    stroke-dashoffset: 567.8868408203125;
    animation: reveal 2s ease forwards ;

}
path:nth-of-type(4){
    stroke-dasharray: 620.2611083984375;
    stroke-dashoffset: 620.2611083984375;
    animation: reveal 2s ease forwards;
}
path:nth-of-type(5){
    stroke-dasharray: 374.8818664550781;
    stroke-dashoffset: 374.8818664550781;
    animation: reveal 2s ease forwards;
}
path:nth-of-type(6){
    stroke-dasharray: 374.8818664550781;
    stroke-dashoffset: 374.8818664550781;
    animation: reveal 2s ease forwards;
}
@keyframes reveal{
    to{
        stroke-dashoffset: 0;
    }
}



.blur{
    filter: blur(20px);
}
.scorecard{
    position: absolute;
    margin-top: 30vh;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1em;
    color:coral;
    width: 40vw;
    height: 30vh;
    background-color:#111;
    border-radius: 25px;
}

.tryagain{
    width: 80%;
    font-size: 1.2em;
    color:coral;
    background-color: #111;
    border: 2px solid coral;
    padding: 1em;
}

.bg{
    background-color: #111;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
}
