:root {
  --bgcolor: #111;
  --primary: coral;
  --secondary: cornflowerblue;
}

body {
  margin: 0px;
  font-family: "Roboto Mono", monospace;
  background-color: var(--bgcolor);
  color: white;
}
header {
  margin-top: 0.5em;
  text-align: center;
  font-size: 5em;
  letter-spacing: 0.5em;
  animation-name: piano;
  animation-duration: 1.5s;
}
.container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.scorecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 500px;
  height: 400px;
  font-size: 4em;
}
.box {
  display: grid;
  gap: 1em;
  width: 500px;
  height: 500px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.square {
  background-color: var(--primary);
  border-radius: 10px;
  box-sizing: border-box;
  transition-duration: 0.2s;
}
.square:hover {
  border: 1px solid white;
}
.square:active {
  background-color: white;
}
#start {
  font-size: 1em;
  width: 80%;
  border-radius: 50px;
  border: none;
}
#start:hover {
  background-color: var(--primary);
  color: white;
  transition-duration: 0.2s;
}
#start:active {
  background-color: white;
  color: var(--primary);
}
.active {
  animation-name: glow;
  animation-duration: 1s;
}
.finalcard {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  width: 400px;
  background-color: var(--secondary);
  border-radius: 50px;
  animation-name: outro;
  animation-duration: 1s;
}
.tryagain {
  font-size: 2em;
  width: 80%;
  border-radius: 50px;
  border: none;
  color: coral;
  background-color: white;
}
.tryagain:hover {
  color: white;
  background-color: var(--primary);
}
.tryagain:active {
  color: coral;
  background-color: white;
}

@keyframes glow {
  0% {
    background-color: var(--primary);
  }
  40% {
    background-color: var(--secondary);
  }
  60% {
    background-color: var(--secondary);
  }
  100% {
    background-color: var(--primary);
  }
}
@keyframes piano {
  0% {
    letter-spacing: -1em;
  }
  100% {
    letter-spacing: 0.5em;
  }
}
@keyframes outro {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.animate {
  animation-name: outro;
  animation-duration: 1s;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 400px;
    height: 80vh;
    flex-direction: column;
    justify-content: space-between;
  }
  .scorecard {
    font-size: 3em;
  }
  #start {
    height: 3em;
    font-size: 0.5em;
  }
  header {
    font-size: 1.5em;
  }
  .finalcard {
    margin-top: 20vh;
    justify-content: space-evenly;
  }
}
