:root {
  --bgcolor: #111;
  --primary: coral;
  --secondary: cornflowerblue;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Mono", monospace;
  background-color: var(--bgcolor);
  color: white;
}
header {
  margin-top: 0.5em;
  text-align: center;
  font-size: 5em;
  letter-spacing: 0.5em;
  animation-name: piano;
  animation-duration: 1.5s;
}
.container {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.hardness{
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 200px;
}
.levels{
  display: flex;
  width:100%;
  flex-direction: row;
  justify-content: space-evenly;
}

.hardness button{
  padding: 0.2em 0.5em;
  font-size:1em;
  border-radius: 20px;
}

.easy{
  border: none;
  background: none;
  color: rgb(27, 226, 27);
  transition : 0.5s;
}
.easymode{
  color: black;
  background: rgb(27, 226, 27);
}
.hard{
  border: none;
  background: none;
  color: crimson;
  transition : 0.5s;
}

.hardmode{
  color: black;
  background: crimson;
}

.scorecard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 500px;
  height: 600px;
  font-size: 4em;
}
#idcount{
  margin-left: 1em;
}

.score{
  display: flex;
  flex-direction: row;
}
.box {
  display: grid;
  gap: 1em;
  width: 500px;
  height: 500px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.square,.hardsquare {
  background-color: var(--primary);
  border-radius: 10px;
  transition-duration: 0.2s;
  border: 2px solid var(--bgcolor);
}
.square:hover,.hardsquare:hover {
  border: 2px solid white;
}
.square:active,.hardsquare:active {
  background-color: white;
}

.hardbox{
  display: grid;
  gap:1em;
  width: 600px;
  height: 600px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}



#start {
  font-size: 1em;
  width: 7em;
  border-radius: 50px;
  border: none;
}
#start:hover {
  background-color: var(--primary);
  color: white;
  transition-duration: 0.2s;
}
#start:active {
  background-color: white;
  color: var(--primary);
}
.active {
  animation-name: glow;
  animation-duration: 1s;
}
.finalcard {
  font-size:0.9em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 400px;
  width: 400px;
  background-color:#203150;
  border-radius: 50px;
  animation-name: outro;
  animation-duration: 1s;
}
.finalcard div div{
  font-size: 1.5em;
}
.tryagain {
  font-size: 1.5em;
  padding: 0.4em;
  width: 80%;
  border-radius: 50px;
  border: none;
  color: var(--primary);
  background-color: white;
}
.tryagain:hover {
  color: white;
  background-color: var(--primary);
}
.tryagain:active {
  color: var(--primary);
  background-color: white;
}

@keyframes glow {
  0% {
    background-color: var(--primary);
  }
  40% {
    background-color: var(--secondary);
  }
  60% {
    background-color: var(--secondary);
  }
  100% {
    background-color: var(--primary);
  }
}
@keyframes piano {
  0% {
    letter-spacing: -1em;
  }
  100% {
    letter-spacing: 0.5em;
  }
}
@keyframes outro {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
.animate {
  transform: scale(1);
  animation-name: outro;
  animation-duration: 1s;
}
.animate-out{
  transform: scale(0);
  animation-name: outro;
  animation-direction: reverse;
  animation-duration: 1s;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .scorecard {
    font-size: 3em;
  }
  #start {
    height: 3em;
    font-size: 0.5em;
  }
  header {
    font-size: 1.5em;
  }
  .box,.hardbox{
    width: 90vw;
    height: 90vw;
  }
  .finalcard {
    margin-top: 20vh;
  }
}
@media screen and (max-width: 600px){
  #start{
    height: 2em;
    width: 200px;
  }
 .box,.hardbox{
   width: 90vw;
   height: 90vw;
 }
  .scorecard{
    height: 400px;
    margin-bottom: 1em;
  }
  .finalcard h1{
    display:flex;
    flex-direction: column;
    align-items: center;
    font:1em;
    width: 350px;
  }
}